
body {
    font-family: sans-serif;
}

.mainNav {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.mainNav a {
    padding: 1rem;
}

.mainNav a:hover {
    background-color: brown;
    color: aliceblue;
}

